!!!
%html
  %head
    %title lol
    - content_for?(:title) ? yield(:title) : "default title"
  %body
    .md-wrap 
      .md-sections.md-font-style
        %h1.site-title.md-title
          Gracepoint Task Management
        %p.description
          Get People Moving
        .launch-tasks
          =link_to "Launch Tasks", tasks_path