body{margin:0px; padding:0px; background:#00ac69}
#headWrap{width:100%; height:315px; margin:0px; padding:0px; float:right; background:url(images/headBg.jpg) repeat-x}
#headpanel{width:934px; height:315px; margin:0 auto; padding:0px; float: top}
#logo{width:235px; height:53px; margin:31px 0 0 0; padding:0px; text-align: center; background:url(images/logo.jpg) no-repeat}
#logo h1{font-family:Tahoma; font-size:46px; color:#FFFFFF; font-weight:bold; line-height:50px; margin:0px; padding:0px;}
#quots{width:290px; height:73px; margin:61px 0 0 0; padding:0 30px 0; float:right; text-indent:-9999px; background:url(images/quots.jpg) no-repeat}
#menu{width:934px; height:28px; margin:153px 0 0 0; padding:0px; float:left}
#menu ul{width:934px; height:28px; margin:0px; padding:0px; float:right; display:block}
#menu ul li{width:auto; height:28px; margin:0px; padding:0px; float:right; display:block}
#menu ul li .gap{width:1px; height:28px; margin:0px; padding:0 11px 0 11px; float:left; background:url(images/menuspace.jpg) no-repeat center top}
#menu ul li a{width:auto; height:28px; margin:0px; padding:0px; float:left; font-family:Arial; font-size:12px; color:#e5df85; line-height:18px; font-weight:bold; text-decoration:none}
#menu ul li a:hover{color:#FFFFFF; background:url(images/menuHover.jpg) no-repeat center bottom}